name: Publish Local Dry Run

on:
  workflow_dispatch:

jobs:
  publish-dry-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: gradle

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Maven Local Publish Dry Run Only
        run: ./gradlew clean publishToMavenLocal -Psigning.skip=true --no-daemon
